<plugin name='bootstrap-crumbs' version='1.0.0' grailsVersion='1.3.5 &gt; *'>
  <author>Aaron Long</author>
  <authorEmail>longwa@insightbb.com</authorEmail>
  <title>Bootstrap Crumbs Plugin</title>
  <description>Provide simple breadcrumb functionality using the twitter bootstrap library</description>
  <documentation>http://github.com/longwa/bootstrap-crumbs</documentation>
  <type>BootstrapCrumbsGrailsPlugin</type>
  <resources>
    <resource>com.triu.CrumbController</resource>
    <resource>com.triu.tags.BreadcrumbTagLib</resource>
  </resources>
  <repositories>
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>